extends layout

block content
  .container
    .col-sm-10
      .row
        h1= title
        label#account-info= info
        a.btn.btn-primary(href='/logout') Выйти
        .text-right
          if root !== 2
            a(href='/add') + Добавить
          if root === 3
            br
            a(href='/add/user') + Добавить пользователя
        table.table.table-bordered.table-hover
          thead
            tr
              th Проблема
              th Решение
              th Оценка
              th
          tbody
            each resolve in resolves
              tr
                td= resolve.problem
                td= resolve.resolve
                td
                  input.rating-loading(value="#{resolve.rate ? resolve.rate : 0}", data-size="xs")
                td
                  form(action='/edit/id/#{resolve.id}', method='get')
                    button.btn.btn-default(type='submit')
                      span.glyphicon.glyphicon-pencil
  script.
    $('.rating-loading').rating({displayOnly: true, step: 1});
